# Node modules
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Build output
/dist
/build

# Environment variables
.env
.env.local
.env.*.local

# Cache
/.pnp
.pnp.js
.cache
.next
out
/.turbo

# Editor folders
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db
